@using eShopSolution.ViewModels.Common;
@model PagedResult<eShopSolution.ViewModels.Catalog.Products.ProductVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Sản phẩm</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    @*<div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>*@
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <i class="fas fa-table mr-1"></i>
                    <a asp-action="Create" asp-controller="Product" class="btn btn-success">Tạo mới</a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="input-group input-group-md">
                            <input class="form-control" name="keyword" value="@ViewBag.Keyword" type="text" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat">Tìm</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <div class="table-responsive table-bordered" style="margin-bottom: 20px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                OriginalPrice
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                ViewCount
                            </th>
                            <th>
                                DateCreated
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Details
                            </th>
                            <th>
                                SeoDescription
                            </th>
                            <th>
                                SeoTitle
                            </th>
                            <th>
                                SeoAlias
                            </th>
                            <th>
                                LanguageId
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ViewCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeoDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeoTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeoAlias)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LanguageId)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>